{% extends "index_new.twig" %}

{% block title %}
  리디북스 CMS
{% endblock %}

{% block body %}
  <div class="col-xs-12">
    <ul>
      <li>권한 신청하기: <a href="https://app.asana.com/0/215306209905636/215207316128603" target="_blank">개발 지원 요청</a></li>
      <li>CMS 매뉴얼: <a href="https://ridicorp.atlassian.net/wiki/spaces/operation/pages/239796419/CMS" target="_blank">위키 바로가기</a></li>
    </ul>
  </div>
{% endblock %}
